/* body{
    background-color: rgb(53, 131, 233);  

}   */
 
.home{ 
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
}  
.navbar-light .navbar-nav .nav-link {
    color:white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
}  
.dropdown{
    margin-right: 10px;
}
.nav-link:hover {
    color:rgb(20, 18, 18)
}
.nav-link {
    color:white
}